{% extends 'base.html' %}

{% block title %}Lista de Productos - Aromter{% endblock %}

{% block content %}
<div class="row">
    {% for producto in productos %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ producto.producto_image.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">Precio: ${{ producto.precio }}</p>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <a href="#" class="btn btn-custom">Agregar al carrito</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
